absl==0.0
absl_py==0.14.0
Flask==1.1.2
mido==1.2.6
note_seq==0.0.3
numpy==1.22.2
Pillow==9.0.1
protobuf==3.19.4
python_rtmidi==1.1.2
rtmidi==2.3.4
setuptools==58.0.4
six==1.16.0
sk_video==1.1.10
tensorflow_probability==0.7.0
tf_slim==1.1.0
Werkzeug==1.0.1
